<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="RollingLogger" type="log4net.Appender.RollingFileAppender">
    <file value="./Log/application-log.txt"/>
    <appendToFile value="true"/>
    <maximumFileSize value="1MB"/>
    <maxSizeRollBackups value="2000" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger{1}  - %message%newline" />
    </layout>
  </appender>

  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date| %-5level %logger{1}  - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="Console" />
    <appender-ref ref="RollingLogger" />
  </root>
  <!-- TURN ON PROFILER -->
  <logger name="DataProfiler">
    <level value="DEBUG" />
  </logger>




</log4net>

